body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-width: 5px;
}

.point {
    fill: black;
}

.point:hover {
    fill: orange;
}

.selected {
  stroke: orange;
  stroke-width: 2px;
}